<div id="projects">
  <div class="col-auto offset-1" id="project-tag">
    <h1>Projects</h1>
  </div>
  <div class="row no-gutters project-row" data-aos="zoom-in-up" data-aos-once="true" id="project-row-1">
    <div class="col-10 col-md-5 offset-1 project-item" id="milestone-col"><a id="milestone" href="https://github.com/Iotaslair/Milestone"><img class="img-fluid" src="assets/img/undraw_awards_fieb.svg"></a></div>
    <div class="col-10 col-md-5 offset-1 offset-md-0 project-item" id="dimensional-doors-col"><a id="dimensional-doors" href="https://github.com/NCFVRLab/DimensionalDoors"><img class="img-fluid" src="assets/img/undraw_Login_re_4vu2.svg"></a></div>
  </div>
  <div class="row no-gutters project-row" data-aos="zoom-in-up" data-aos-once="true" id="project-row-2">
    <div class="col-10 col-md-5 offset-1 project-item" id="ncf-networks-dos-col"><a id="ncf-networks-dos" href="https://github.com/Iotaslair/NCFNetworksDoS"><img class="img-fluid" src="assets/img/undraw_connected_world_wuay.svg"></a></div>
    <div class="col-10 col-md-5 offset-1 offset-md-0 project-item" id="major-decisions-col"><a id="major-decisions-1" href="https://github.com/Iotaslair/Major-Decisions"><img class="img-fluid" src="assets/img/undraw_Graduation_ktn0.svg"></a></div>
  </div>
</div>
