<div id="footer">
  <div class="row no-gutters" id="github-and-linked-in-row">
    <div class="col-4 offset-4">
      <div id="footer-element"><a id="github-link" href="https://github.com/Iotaslair"><i
        class="fab fa-github footer-icon"></i></a><a id="linked-in"
                                                     href="https://www.linkedin.com/in/william-pembleton/"><i
        class="fa fa-linkedin footer-icon"></i></a></div>
    </div>
  </div>
  <div class="row no-gutters" id="contact-row">
    <div class="col">
      <div id="contact-element"><a id="contact" href="#">Contact</a></div>
    </div>
  </div>
</div>
