<div id="landing">
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="#">William Pembleton</a>
      <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
        class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse"
           id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" role="presentation"><a class="nav-link active" href="#about">About</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="#portfolio">Portfolio</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron" id="landing-jumbo">
    <h1 id="name">William Pembleton</h1>
    <p id="mission">Mission: To create value through my work</p>
  </div>
</div>
